db-vlr-demo/src/main/mule/db-vlr-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="46393bc6-7b40-4873-80c7-23d905fed397" >
		<db:oracle-connection host="localhost" user="SYSTEM" password="Surya@1998" instance="XE" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="6603ded9-3ea5-458e-b53e-9d93ee0fcc7b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="db-vlr-demoFlow" doc:id="9cff48d2-cfec-497d-bd9e-2115b013efae" >
		<http:listener doc:name="Listener" doc:id="5de88b18-e54a-4844-b3db-80fff4ac9513" config-ref="HTTP_Listener_config1" path="db1"/>
		<ee:transform doc:name="Transform Message" doc:id="17901e20-1058-48c6-bf7f-aba41b81b7d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 50 map{
	"EMPID": if ($$ == 7) "suryamohan" else 10 + $$,
	"EMPNAME":"surya",
	"EMPAGE": 23,
	"EMPADDRESS": "sklm"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="8e1e739b-0297-4a50-8050-5837ee0300eb" >
			<logger level="INFO" doc:name="Logger" doc:id="df875a68-f82b-4e4b-8ea8-61a358668ea4" message="#[payload]"/>
			<db:insert doc:name="Insert" doc:id="ccefd27e-eac4-4c99-bc5f-cb66c4cd2340" config-ref="Database_Config">
				<db:sql><![CDATA[insert into mohan(EMPID,EMPNAME,EMPAGE,EMPADDRESS)
values(:EMPID,:EMPNAME,:EMPAGE,:EMPADDRESS)]]></db:sql>
				<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
		</parallel-foreach>
	</flow>
</mule>
