prc-menulist-api/src/main/mule/logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="logicFlow" doc:id="4f65a5fc-28ed-46c7-91df-f40f7692ae02" >
		<http:request method="GET" doc:name="Request" doc:id="d31f27d1-e1f3-429b-a8c6-6a20aca1c8c5" config-ref="HTTP_Request_configuration" path="/api/sys-menulist">
			<http:query-params ><![CDATA[#[output application/json
---
{
	clientID: 123,
    clientSecret: "suryamohan rao"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="8a547e49-ce39-41c6-98e1-a1dcf3830684" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data map 
{
    "ItemId": $.ItemId,
    "Title": $.Title,
    "Price": $.Price,
    "Description": $.Description,
    "DiscountedPrice": $.DiscountedPrice
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
