exp-menulist-api/src/main/mule/logicflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="logicflowFlow1" doc:id="1b3ecfd0-9268-49ae-a6ae-9e9a3733d82e" >
		<http:request method="GET" doc:name="Request" doc:id="52a2124c-a5aa-44a6-97d8-6046899acece" path="/api/prc-menulist" config-ref="EXP_HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/json ---
{
	clientID: 1234,
	clientSecret: "suryamohan rao"
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
